<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	<title>Bucket Lists App | Login Page</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
	<link href="{{ url_for('static', filename = 'plugins/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
	<link href="{{ url_for('static', filename = 'css/style.min.css') }}" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
</head>
<body>
	<div id="page-container">
        <div class="login login-with-news-feed">

            <!-- begin welcome text -->
            <div class="news-feed">
                <div class="news-image">
                    <img src="{{ url_for('static', filename = 'img/bg-7.jpg') }}" alt="" />
                </div>
                <div class="news-caption">
                    <h4 class="caption-title">Bucket Lists App</h4>
                    <p>
                        Keep Track of things you want to do, before its too late.
                    </p>
                </div>
            </div>
            <!-- end welcome text -->

            <!-- begin login panel -->
            <div class="right-content">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="login-header">
                    <div class="brand">
                        <span class="logo"></span> Login
                    </div>
                </div>
                <div class="login-content">
                    <form action="" method="POST" class="margin-bottom-0">
                        {{ form.hidden_tag() }}
                        <div class="form-group m-b-15">
                            {{ form.username(class_ = "form-control input-lg", placeholder = "User Name", required = "True") }}
                        </div>
                        <div class="form-group m-b-15">
                            {{ form.password(class_ = "form-control input-lg", placeholder = "Password", required = "True") }}
                        </div>
                        <div class="login-buttons">
                            <button type="submit" class="btn btn-success btn-block btn-lg">Sign me in</button>
                        </div>
                        <div class="m-t-20 m-b-40 p-b-40">
                            Not a member yet? Click <a href="{{ url_for('register') }}" class="text-success">here</a> to register.
                        </div>         
                    </form>
                </div>
            </div>
            <!-- end login panel -->

        </div>
	</div>
</body>
</html>
